<!-- TOP NAV -->
<div class="top-nav d-flex justify-content-between align-items-center">
	<span class="text-sm">Année scolaire 2024-2025</span>
	<div class="d-flex gap-2 align-items-center">
		<span class="user-icon d-flex justify-content-center align-items-center">
			<i class="hgi-stroke hgi-user"></i>
		</span>
		<div class="d-flex flex-column align-items-end user-information">
			<span class="user-role">{{ currentRole }}</span>
			<span class="user-name">{{currentUser}}</span>
		</div>
	</div>
</div>