<section class="d-flex">
	<!-- SIDEBAR -->
	<app-sidebar></app-sidebar>
	<!-- MAIN -->
	<main class="flex-grow-1">
		<app-topbar></app-topbar>

		<!-- Barre de recherche et bouton Ajouter -->
		<div class="d-flex justify-content-between align-items-center flex-wrap mt-4 p-4">
			<div class="col-6 col-md-9" style="height: 44px;">
				<div class="input-group">
					<span class="input-group-text" id="basic-addon1">
						<i class="hgi-stroke hgi-search-01"></i>
					</span>
					<input type="search" placeholder="Rechercher un enseignant..." class="form-control" [(ngModel)]="filtername"
						(ngModelChange)="updateFilteredTeachers()" />

				</div>
			</div>
			<button class="primary-btn border-0" data-bs-toggle="modal" data-bs-target="#addTeacherModal">
				Ajouter un enseignant <i class="hgi-stroke hgi-add-circle"></i>
			</button>
		</div>

		<!-- Liste des enseignants -->
		<div class="students-list mt-5 px-4">
			<table class="table border table-hover">
				<thead class="table-primary">
					<tr>
						<th><input type="checkbox" class="form-check-input" /></th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>Date d'ajout</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>

					<tr *ngFor="let teacher of filteredTeachers">

						<td><input type="checkbox" class="form-check-input" /></td>
						<td>{{ teacher.lastName| titlecase }}</td>
						<td>{{ teacher.firstName | titlecase}}</td>
						<td>{{ teacher.createdAt| date: 'dd/MM/yyyy' }}</td>

						<td>
							<div class="dropdown">
								<a href="#" class="text-decoration-none text-black" id="dropdownMenuButton" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="hgi-stroke hgi-more-vertical"></i>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><a class="dropdown-item" href="javascript:void(0);" (click)="editTeacher(teacher)"
											data-bs-toggle="modal" data-bs-target="#editTeacherModal">Modifier</a>
									</li>
									<li><a class="dropdown-item" href="javascript:void(0);" (click)="viewTeacher(teacher)"
											data-bs-toggle="modal" data-bs-target="#viewTeacherModal">Voir les
											informations</a></li>
									<li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#courseModal"
											disabled>Associer un
											cours</button></li>
									<li><a class="dropdown-item" href="javascript:void(0);"
											(click)="deleteTeacher(teacher.id)">Supprimer</a></li>
								</ul>
							</div>
						</td>

					</tr>
				</tbody>
			</table>
			<div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
				<p>{{filteredTeachers.length }} résultats</p>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">&lt;</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">&gt;</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</main>

	<!-- Modal pour ajouter un enseignant -->
	<div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Ajouter un enseignant</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<form (ngSubmit)="addTeacher()">
						<div class="mb-3">
							<label for="nom" class="form-label">Nom</label>
							<input ype="text" [(ngModel)]="newTeacher.lastName" name="nom" placeholder="Nom" required
								class="form-control" />
						</div>
						<div class="mb-3">
							<label for="prenom" class="form-label">Prénom</label>
							<input type="text" [(ngModel)]="newTeacher.firstName" name="prenom" placeholder="Prénom" required
								class="form-control" />
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<input class="form-control" type="email" [(ngModel)]="newTeacher.email" name="email"
								placeholder="Email" />
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Téléphone</label>
							<input class="form-control" type="text" [(ngModel)]="newTeacher.telephone" name="telephone"
								placeholder="Téléphone" />
						</div>
						<div class="modal-footer">
							<button type="submit" class="primary-btn border-0" data-bs-dismiss="modal">Ajouter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal pour visualiser les informations d'un enseignant -->
	<div class="modal fade" id="viewTeacherModal" tabindex="-1" aria-labelledby="viewTeacherModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Détails de l'enseignant</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<p><strong>Nom :</strong> {{ selectedTeacher?.firstName }}</p>
					<p><strong>Prénom :</strong> {{ selectedTeacher?.lastName }}</p>
					<p><strong>Email :</strong> {{ selectedTeacher?.email }}</p>
					<p><strong>Téléphone :</strong> {{ selectedTeacher?.telephone }}</p>
					<p><strong>Date d'ajout :</strong> {{ selectedTeacher?.createdAt | date: 'dd/MM/yyyy' }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal pour modifier un enseignant -->
	<div class="modal fade" id="editTeacherModal" tabindex="-1" aria-labelledby="editTeacherModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modifier les informations de l'enseignant</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body" *ngIf="editingTeacher">
					<form (ngSubmit)="saveEditTeacher()">
						<div class="mb-3">
							<label for="nom" class="form-label">Nom</label>
							<input type="text" [(ngModel)]="editingTeacher.firstName" name="nom" placeholder="Nom" required
								class="form-control" />
						</div>
						<div class="mb-3">
							<label for="prenom" class="form-label">Prénom</label>
							<input type="text" [(ngModel)]="editingTeacher.lastName" name="prenom" placeholder="Prénom" required
								class="form-control" />
						</div>
						<div class="mb-3">
							<label for="email" class="form-label">Email</label>
							<input type="email" [(ngModel)]="editingTeacher.email" name="email" placeholder="Email"
								class="form-control" />
						</div>
						<div class="mb-3">
							<label for="telephone" class="form-label">Téléphone</label>
							<input type="text" [(ngModel)]="editingTeacher.telephone" name="telephone" placeholder="Téléphone"
								class="form-control" />
						</div>
						<button type="submit" class="primary-btn border-0" data-bs-dismiss="modal">Enregistrer</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>