<!-- MAIN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.2/Chart.css"
  integrity="sha512-SUJFImtiT87gVCOXl3aGC00zfDl6ggYAw5+oheJvRJ8KBXZrr/TMISSdVJ5bBarbQDRC2pR5Kto3xTR0kpZInA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<main class="flex-grow-1">
  <!-- <div class="export-button-container d-flex justify-content-end">
		<button class="outline-btn">
			Exporter <i class="hgi-stroke hgi-file-export"></i>
		</button>
	</div> -->
  <div class="filter-container d-flex justify-content-center m-4">
    <label for="academicYearFilter" class="form-label me-2">Filtrer par Année :</label>
    <select
        id="academicYearFilter"
        class="form-select w-auto"
        [(ngModel)]="selectedYearLabel"
        (change)="onYearFilterChange()">

        <option value="TOUTES">Toutes les années</option>

        <option *ngFor="let year of allAcademicYears" [value]="year.label">
            {{ year.label }}
            <span *ngIf="year.status === 'EN_COURS'">(En cours)</span>
        </option>
    </select>
</div>

  <div class="kpi-container d-flex justify-content-between col-11 mx-auto py-3">
    <div class="d-flex justify-content-between align-items-center kpi-card">
      <div>
        <span>{{ totalTeachers }}</span>
        <h2>Enseignants</h2>
      </div>
      <span class="icon-box d-flex justify-content-center align-items-center">
        <i class="hgi-stroke hgi-teaching"></i>
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center kpi-card-alternate">
      <div>
        <span>{{ totalStudents }}</span>
        <h2>Étudiants</h2>
      </div>
      <span class="icon-box-alternate d-flex justify-content-center align-items-center">
        <i class="hgi-stroke hgi-student"></i>
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center kpi-card">
      <div>
        <span>{{ totalCourses }}</span>
        <h2>Cours</h2>
      </div>
      <span class="icon-box d-flex justify-content-center align-items-center">
        <i class="hgi-stroke hgi-course"></i>
      </span>
    </div>

    <div class="d-flex justify-content-between align-items-center kpi-card-alternate">
      <div>
        <span>{{ totalSpecialities }}</span>
        <h2>Specialités</h2>
      </div>
      <span class="icon-box-alternate d-flex justify-content-center align-items-center">
        <i class="hgi-stroke hgi-book-02"></i>
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center kpi-card">
      <div>
        <span>{{ totalRegistrations }}</span>
        <h2>Inscriptions</h2>
      </div>
      <span class="icon-box d-flex justify-content-center align-items-center">
        <i class="hgi-stroke hgi-note-01"></i>
      </span>
    </div>
    <div class="d-flex justify-content-between align-items-center kpi-card-alternate">
      <div>
        <span>{{ totalEvaluations }}</span>
        <h2>Evaluations</h2>
      </div>
      <span class="icon-box-alternate d-flex justify-content-center align-items-center">
        <i class="hgi-stroke hgi-analytics-01"></i>
      </span>
    </div>
  </div>
</main>
<br />
<!-- //MAIN -->
<div class="container chart-container mt-4">
  <div class="row gy-4 px-3 py-4 rounded">
    <!--div class="col-md-12 col-sm-12">
      <canvas id="myChart" baseChart [data]="barChartData" [type]="'bar'">
      </canvas>
    </div-->

    <!--div
      class="mt-5 col-md-12 col-sm-12 d-flex justify-content-center align-items-center"
    >
      <div class="row px-5">
        <div class="">
          <canvas id="myChart" baseChart [data]="barChartData" [type]="'pie'">
          </canvas>
        </div>
      </div>
    </div-->

    <!-- <app-evaluation-graph
      [specialities]="listSpecialities"
      [evaluations]="listEvaluations"
    >
    </app-evaluation-graph> -->

    <div class="col-12 ">
      <app-evaluation-graph [specialities]="listSpecialities">
      </app-evaluation-graph>
    </div>

    <!-- Graphe des inscriptions -->

    <div class="col-12 ">
      <canvas id="myChart" baseChart [data]="registerChart" [type]="'bar'" [options]="registerChartOptions">
      </canvas>
    </div>
  </div>

</div>
