<section class="d-flex">
	<!-- SIDEBAR -->
	<app-sidebar></app-sidebar>
	<!-- MAIN -->
	<main class="flex-grow-1">
		<app-topbar></app-topbar>

		<!-- Barre de recherche et bouton Ajouter -->
		<div class="d-flex justify-content-between align-items-center flex-wrap mt-4 p-4">
			<div class="col-6 col-md-9" style="height: 44px;">
				<div class="input-group">
					<span class="input-group-text" id="basic-addon1">
						<i class="hgi-stroke hgi-search-01"></i>
					</span>
					<input type="search" placeholder="Rechercher un étudiant..." class="form-control" [(ngModel)]="filtername"
						(ngModelChange)="updateFilteredCourses()" />
				</div>
			</div>
			<button class="primary-btn border-0" data-bs-toggle="modal" data-bs-target="#addTeacherModal">
				Ajouter un cours<i class="hgi-stroke hgi-add-circle"></i>
			</button>
		</div>

		<!-- Liste des cours -->
		<div class="students-list mt-5 px-4">
			<table class="table border table-hover">
				<thead class="table-primary">
					<tr>
						<th><input type="checkbox" class="form-check-input" /></th>
						<th>Id</th>
						<th>Thème</th>
						<th>Nombre d'heure</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let course of filteredCourses">
						<td><input type="checkbox" class="form-check-input" /></td>
						<td>{{ course.id }}</td>
						<td>{{ course.title }}</td>
						<td>{{ course.duration }}</td>
						<td>
							<div class="dropdown">
								<a href="#" class="text-decoration-none text-black" id="dropdownMenuButton" data-bs-toggle="dropdown"
									aria-expanded="false">
									<i class="hgi-stroke hgi-more-vertical"></i>
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li><a class="dropdown-item" href="javascript:void(0);" (click)="editCourse(course)"
											data-bs-toggle="modal" data-bs-target="#editTeacherModal">Modifier</a>
									</li>
									<li><a class="dropdown-item" href="javascript:void(0);" (click)="viewCourse(course)"
											data-bs-toggle="modal" data-bs-target="#viewTeacherModal">Voir les
											informations</a></li>
									<li><a class="dropdown-item" href="javascript:void(0);"
											(click)="deleteCourse(course.id)">Supprimer</a></li>
								</ul>
							</div>
						</td>

					</tr>
				</tbody>
			</table>
			<div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
				<p>{{ filteredCourses.length }} résultats</p>
				<nav aria-label="Page navigation">
					<ul class="pagination">
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Previous">&lt;</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#" aria-label="Next">&gt;</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</main>

	<!-- Modal pour ajouter un cours -->
	<div class="modal fade" id="addTeacherModal" tabindex="-1" aria-labelledby="addTeacherModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Ajouter un cours</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<form (ngSubmit)=" addCourse()">
						<div class="mb-3">
							<label for="theme" class="form-label">Thème du cours</label>
							<input ype="text" [(ngModel)]="newCourse.title" name="Thème du cours" placeholder="theme" required
								class="form-control" />
						</div>
						<div class="mb-3">
							<label for="description" class="form-label">Description </label>
							<textarea [(ngModel)]="newCourse.description" name="description" placeholder="description" required
								class="form-control"> </textarea>
						</div>
						<div class="mb-3">
							<label for="duration" class="form-label">Nombre D'heures</label>
							<input class="form-control" type="text" [(ngModel)]="newCourse.duration" name="duration"
								placeholder="Nombre d'heures" />
						</div>
						<div class="modal-footer">
							<button type="submit" class="primary-btn border-0" data-bs-dismiss="modal">Ajouter</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal pour visualiser les informations d'un cours -->
	<div class="modal fade" id="viewTeacherModal" tabindex="-1" aria-labelledby="viewTeacherModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Détails du cours</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body">
					<p><strong>Id :</strong> {{ selectedCourse?.id }}</p>
					<p><strong>Thème :</strong> {{ selectedCourse?.title }}</p>
					<p><strong>Description :</strong> {{ selectedCourse?.description }}</p>
					<p><strong>Nombre d'heures :</strong> {{ selectedCourse?.duration }}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal pour modifier un cours -->
	<div class="modal fade" id="editTeacherModal" tabindex="-1" aria-labelledby="editTeacherModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Modifier les informations du cours</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>
				<div class="modal-body" *ngIf="editingCourse">
					<form (ngSubmit)="saveEditCourse()">
						<div class="mb-3">
							<label for="nom" class="form-label">Titre</label>
							<input type="text" [(ngModel)]="editingCourse.title" name="nom" placeholder="Nom" required
								class="form-control" />
						</div>
						<div class="mb-3">
							<label for="prenom" class="form-label">Description</label>
							<input type="text" [(ngModel)]="editingCourse.description" name="prenom" placeholder="Prénom" required
								class="form-control" />
						</div>
						<div class="mb-3">
							<label for="duration" class="form-label">Nombre d'heure</label>
							<input type="number" [(ngModel)]="editingCourse.duration" name="duration" placeholder="Nombre d'heures"
								class="form-control" />
						</div>
						<button type="submit" class="primary-btn border-0" data-bs-dismiss="modal">Enregistrer</button>
					</form>
				</div>
			</div>
		</div>
	</div>

</section>
